.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1B2430;
    padding-right: 5 rem;
}

.adminform{

    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    color: #333;
    margin: 25px;
}

.adminformh2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.adminforminputs{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

.adminfields{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding:15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
    padding-right: 0px;
}


.contactbutton{

    width: 100%;
    height: 55px;
    background-color: orange;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

.contactbutton:hover{
    background-color: #1B2430;
}